body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navBanner {
    background-color:#343a40;
    color:white;
    font-size:28px;
    padding:10px;
    font-weight:bold;
}

h4 {
    padding:0px;
}
aside {
    background-color:#f8f9fa;

}

label{
        
}

section {

}

form {
    padding-top:10px;
}

#citySearch{
    padding-left:10px;
}

#cityList {
    margin-bottom:20px;
}

#rowId {
    padding-bottom:20px;
    height:100%;
    padding-left:15px;
}

#weatherCard {
    margin:10px;
}


.forecastCard{
    background-color:dodgerblue;
    color:white;
    float:left;
    margin-right:30px;
    width: 15rem;
}